
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #eecd80; */
  /* font */
}

.pagecontainer{
  display: flex;
  flex-direction: column;
  padding: 0px 0px 50px 0px;
  /* height: 100vh; */
  background-color: #eecd80;
}

.home, 
.customer, 
.staff, 
.branch, 
.theatre, 
.memtype, 
.seat, 
.movies, 
.movielicense,
.showtime,
.reservation{
  display: flex;
  /* margin: 175px; */
  /* margin-top: 25px; */
  /* padding: 100px; */
  padding: 50px 275px 25px;
  /* padding-top: 50px; */
  /* height: 60vh; */
  /* border-style: solid; */
  align-items: left;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}

.refreshButton{
  margin: 0px 80px;
  padding: 0px 20px;
  border-radius: 4px;
  background-color: #ffefcb;
}

.home{
  height: 683px
}

.homeimg{
  display: flex;
  justify-content: center;
}

.mb-3{
  display: flex;
  align-items: row;
}

label{
  width: 150px;
}

.form-control {
  width: 400px;
}

.multi-row{
  width: 132px;
  margin-right: 16px;
}

.card-body{
  background-color: #ffefcb;
}