
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #eecd80; */
  /* font */
}

.home, .customer, .staff, .branch, .theatre, .memtype, .seat, .movies{
  display: flex;
  /* margin: 175px; */
  /* margin-top: 25px; */
  /* padding: 100px; */
  padding: 275px;
  padding-top: 50px;
  /* height: 60vh; */
  /* border-style: solid; */
  align-items: left;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  background-color: #eecd80;
}

.home{
  height: 683px
}

.homeimg{
  display: flex;
  justify-content: center;
}

.mb-3{
  display: flex;
  align-items: row;
}

label{
  width: 150px;
}

.form-control {
  width: 400px;
}

.multi-row{
  width: 132px;
  margin-right: 16px;
}

.card-body{
  background-color: #ffefcb;
}